{include file="common/header" /}
<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
  <span class="layui-breadcrumb" lay-separator=">"><a>用户</a><a href="{:url('reward/lst')}">奖励管理</a><a href="">修改</a></span>
  <form class="layui-form" method="post" id="form1" style="margin-top: 20px">
    <div class="layui-form-item">
        <label class="layui-form-label">奖励名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input" value="{$reward.title}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">奖励</label>
        <div class="layui-input-block">
            <input type="text" name="reward" required lay-verify="required" placeholder="奖励分数或分成比例" autocomplete="off" class="layui-input" value="{$reward.reward}">
        </div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label">奖励类型</label>
    <div class="layui-input-block">
        <input type="radio" name="type" title="邀请奖励" value="0" {if condition="$reward.type eq '0'"}checked{/if}>
        <input type="radio" name="type" title="好友提成奖励" value="1" {if condition="$reward.type eq '1'"}checked{/if}>
        <input type="radio" name="type" title="其他" value="2" {if condition="$reward.type eq '2'"}checked{/if}>
    </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{$reward.id}">
            <input type="button" value="提交" onclick="edit()" class="layui-btn edit">
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
  </form>

  </div>
</div>
{include file="common/footer" /}

<script src="__PUBLIC__/layui/layui.js"></script>

<script type="text/javascript">
        function edit() {
            layer.confirm('确定要修改吗?', function(index) {
                $.ajax({
                    type:"post",
                    url:"{:url('reward/edit')}",
                    data: $('#form1').serialize(),
                    success:function(res) {
                        layer.msg(res.msg);
                        if (res.code == 1) {
                        setTimeout(function(){
                            location.href = "{:url('reward/lst')}";
                        },1500)
                    }
                    }
                });
            });
        }
</script>