{include file="common/header" /}

    <div class="layui-body">
    <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb" lay-separator=">"><a>商品</a><a href="{:url('reward/lst')}">提成管理</a></span>
            {if condition="count($rewards) eq '0'"}
            <div style="margin-top: 20px">
                {if condition="$add_code_status eq 1"}
                <a href="{:url('reward/add')}"><button class="layui-btn">增加</button></a>
                {/if}
            </div>
            {/if}
        <table class="layui-table" style="margin-top: 50px">
            <thead>
            <tr>
                <th>ID</th>
                <th>一级分成</th>
                <th>二级分成</th>
                <th>三级分成</th>
                <th>添加时间</th>
                <th>操作人</th>
                <th>操作</th>
            </tr> 
            </thead>
            <tbody>
                {foreach name="rewards" item="reward"}
                <tr>
                    <td>{$reward.id}</td>
                    <td>{$reward.addition_one}(%)</td>
                    <td>{$reward.addition_two}(%)</td>
                    <td>{$reward.addition_three}(%)</td>
                    <td>{$reward.add_time}</td>
                    <td>{$reward.admin.name}</td>
                    <td>
                        {if condition="$edit_code_status eq 1"}
                        <a href="{:url('reward/edit', ['id'=>$reward.id])}"><button class="layui-btn">编辑</button></a>
                        {/if}
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        </div>
    </div>

{include file="common/footer" /}
