{include file="common/header" /}

    <div class="layui-body">
    <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb" lay-separator=">"><a>商品</a><a href="{:url('income/lst')}">佣金订单管理</a></span>
            <div style="margin-top: 20px">
               <strong>本月总佣金：{$m_incomes}(元);&nbsp&nbsp当天总佣金：{$d_incomes}(元);&nbsp&nbsp平台总佣金：{$all_incomes}(元)</strong>
            </div>
        <table class="layui-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户昵称</th>
                    <th>订单id</th>
                    <th>佣金</th>
                    <th>生成时间</th>
                    <th>操作</th>
                </tr> 
                </thead>
                <tbody>
                {foreach name="incomes" item="income"}
                <tr>
                    <td>{$income.id}</td>
                    <td>{$income.user.name}</td>
                    <td>{$income.order_id}</td>
                    <td>{$income.money}</td>
                    <td>{$income.add_time}</td>
                    <td><a href="{:url('income/edit', ['id'=>$income.id])}"><button class="layui-btn">编辑</button></a><input type="button" class="layui-btn delete" style="margin-left: 20px" onclick="del({$income.id})" value="删除"></td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        {$incomes->render()}
        </div>
    </div>

{include file="common/footer" /}
 
<script type="text/javascript">
        function del(id) {
            layer.confirm('确定要删除吗?', function(index) {
                $.ajax({
                    type:"get",
                    url:"{:url('income/del')}",
                    data:{id:id},
                    success:function(res) {
                        layer.msg(res.msg);
                        if (res.code == 1) {
                        setTimeout(function(){
                            location.href = "{:url('income/lst')}";
                        },1500)
                    }
                    }
                });
            });
        }
</script>

