{include file="common/header" /}

    <div class="layui-body">
    <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb" lay-separator=">"><a>商店</a><a href="{:url('shop.address/lst')}">收货地址管理</a></span>
            <form class="layui-form" method="get" id="form2" style="margin-top: 20px">
                <div class="layui-inline">
                    <label class="layui-form-label">用户昵称</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="user_name" placeholder="" autocomplete="off" class="layui-input" value="{$user_name}">
                    </div>
                </div>
                <button class="layui-btn" lay-submit lay-filter="formDemo">查找</button>
            </form>
        <table class="layui-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户昵称</th>
                    <th>收货地址</th>
                </tr> 
                </thead>
                <tbody>
                {foreach name="addresss" item="address"}
                <tr>
                    <td>{$address.id}</td>
                    <td>{$address.user.name}</td>
                    <td>{$address.address}</td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        {$addresss->render()}
        </div>
    </div>

{include file="common/footer" /}
 
