{include file="common/header" /}
<style type="text/css">
    img {
        height: 50px;
        width: 100px;
    }
</style>
    <div class="layui-body">
    <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb" lay-separator=">"><a>杂项</a><a href="{:url('partner/lst')}">合作商家管理</a></span>
            <div style="margin-top: 20px">
            <a href="{:url('partner/add')}"><button class="layui-btn">增加</button></a>
            </div>
        <table class="layui-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>商家名称</th>
                    <th>主图</th>
                    <th>权重</th>
                    <th>操作人</th>
                    <th>操作</th>
                </tr> 
                </thead>
                <tbody>
                    {foreach name="partners" item="vo"}
                    <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>
                        <img src="__IMG__/{$vo.img}">
                    </td>
                    <td>{$vo.weight}</td>
                    <td>{$vo.admin.name}</td>
                    <td><a href="{:url('partner/edit', ['id'=>$vo.id])}"><button class="layui-btn">编辑</button></a><input type="button" class="layui-btn delete" style="margin-left: 20px" onclick="del({$vo.id})" value="删除"></td>
                    </tr>
                    {/foreach}
            </tbody>
        </table>
        </div>
    </div>

{include file="common/footer" /}
 
<script type="text/javascript">
        function del(id) {
            layer.confirm('确定要删除吗?', function(index) {
                $.ajax({
                    type:"get",
                    url:"{:url('partner/del')}",
                    data:{id:id},
                    success:function(res) {
                        layer.msg(res.msg);
                        if (res.code == 1) {
                        setTimeout(function(){
                            location.href = "{:url('partner/lst')}";
                        },1500)
                    }
                    }
                });
            });
        }
</script>
