<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>二居商城</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	</head>
	<body>
{include file="common/header" /}

	<!-- start banner_y -->
		<div class="banner_y center">
			<div class="nav">				
				<ul>
					{foreach name="cates" item="cate"}
					<li>
						<a href="">{$cate['title']}</a>
						<div class="pop">
							<div class="left fl">
								{volist name="$cate['product']" id="pro"}
								<div>
									<div class="xuangou_left fl">
										<a href="{:url('index/xiangqing', ['id'=>$pro['id']])}">
											<div class="img fl"><img src="__PUBLIC__/image/xm6_80.png" alt=""></div>
											<span class="fl">{$pro['title']}</span>
											<div class="clear"></div>
										</a>
									</div>
									<div class="xuangou_right fr"><a href="{:url('index/xiangqing', ['id'=>$pro['id']])}" target="_blank">兑换</a></div>
									<div class="clear"></div>
								</div>
								{/volist}
							</div>
					</li>
					{/foreach}
				</ul>
			</div>
		
		</div>	

	<!-- end banner -->
	<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>

	<!-- start danpin -->
		<div class="danpin center">
			
			<div class="biaoti center">二居热门兑换</div>
			<div class="main center">
				{foreach name="hot_products" item="hot"}
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href="{:url('index/xiangqing', ['id'=>$hot.id])}"><img src="__IMG__{$hot.img}" alt=""></a></div>
					<div class="pinpai"><a href="{:url('index/xiangqing', ['id'=>$hot.id])}">{$hot.title}</a></div>
					<div class="youhui">{$hot.desc}</div>
					<div class="jiage">{$hot.price}积分兑换</div>
				</div>
				{/foreach}
				<div class="clear"></div>
			</div>
		</div>
		<div class="peijian w">
			<div class="biaoti center">所有商品</div>
			<div class="main center">
				<div class="content">
					{foreach name="products" item="pro"}
					<div class="remen fl">
						<div class="tu"><a href="{:url('index/xiangqing', ['id'=>$pro.id])}"><img src="__IMG__{$pro.img}" width="150px" height="150px"></a></div>
						<div class="miaoshu"><a href="{:url('index/xiangqing', ['id'=>$pro.id])}">{$pro.title}</a></div>
						<div class="jiage">{$pro.price}积分</div>
						<div class="pingjia">{$pro.pv}人兑换</div>
						<div class="piao">
							<a href="">
								<span>{$pro.desc}</span>
								<span>二居，年轻人的第二居所</span>
							</a>
						</div>
					</div>
					{/foreach}

					<div class="remenlast fr">
						<div class="liulangengduo"><a href="{:url('index/liebiao')}"><img src="__PUBLIC__/image/liulangengduo.png" alt="" ></a></div>					
					</div>
					<div class="clear"></div>
				</div>				
			</div>
		</div>
		{include file="common/footer" /}
	</body>
</html>