<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>{$title}列表</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	</head>
	<body>
{include file="common/header" /}

	<!-- start banner_y -->
	<!-- end banner -->

	<!-- start danpin -->
		<div class="danpin center">
			
			<div class="biaoti center">{$title}</div>
			<div class="main center">
				{foreach name="products" item="vo"}
				<div class="mingxing fl mb20" style="border:2px solid #fff;width:230px;cursor:pointer;" onmouseout="this.style.border='2px solid #fff'" onmousemove="this.style.border='2px solid red'">
					<div class="sub_mingxing"><a href="{:url('index/xiangqing', ['id'=>$vo.id])}" target="_blank"><img src="__IMG__{$vo.img}" alt=""></a></div>
					<div class="pinpai"><a href="{:url('index/xiangqing', ['id'=>$vo.id])}" target="_blank">{$vo.title}</a></div>
					<div class="youhui">{$vo.desc}</div>
					<div class="jiage">{$vo.price}积分</div>
				</div>
				{/foreach}
				<div class="clear"></div>
			</div>
		</div>
		{include file="common/footer" /}

	<!-- end danpin -->


	</body>
</html>