<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>小米商城-个人中心</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	</head>
{include file="common/header" /}
<!-- self_info -->
	<div class="grzxbj">
		<div class="selfinfo center">
		<div class="lfnav fl">
			<div class="ddzx">订单中心</div>
			<div class="subddzx">
				<ul>
					<li><a href="{:url('index/order')}" >我的订单</a></li>
				</ul>
			</div>
			<div class="ddzx">个人中心</div>
			<div class="subddzx">
				<ul>
					{if condition="$appUser neq ''"}
					<li><a href="{:url('index/self')}" style="color:#ff6700;font-weight:bold;">我的个人中心</a></li>
					{/if}
				</ul>
			</div>
		</div>
		<div class="rtcont fr">
			<div class="grzlbt ml40">我的资料</div>
			<div class="subgrzl ml40"><span>昵称</span><span>{$appUser}</span></div>
			<div class="subgrzl ml40 tel"><span>手机号</span><span>{$self.tel}</span><span><a href="javascript:;" onclick="edit({$self.id},'tel')">编辑</a></span></div>
			<div class="subgrzl ml40"><span>密码</span><span>************</span><span><a href="javascript:;" onclick="edit({$self.id},'password')">编辑</a></span></div>
			<div class="subgrzl ml40"><span>积分</span><span>{$self.integral}</span></div>
			<div class="subgrzl ml40"><span>收货地址</span><span>
			{if condition="$address neq ''"}
				{$address->address}
			</span><span><a href="javascript:;" onclick="edit({$self.id},'address')">编辑</a></span></div>
			{else /}
			请填写收货地址
		    </span><span><a href="javascript:;" onclick="add_address({$self.id})">填写</a></span></div>
			{/if}
			
		</div>
		
		<div class="clear"></div>
		</div>
	</div>
<!-- self_info -->
		
	{include file="common/footer" /}
	</body>
</html>
<script type="text/javascript">
function edit(id,title) {
            var index = layer.prompt({
                title : '请输入：'
            },function(val, index){
                $.ajax({
                    type:"get",
                    url:"{:url('index/edit')}",
                    data:{id:id,val:val,title:title},
                    success:function(res) {
                        layer.msg(res.msg);
                        if (res.code == 1) {
                        setTimeout(function(){
                            location.href = "{:url('index/self', ['id'=>$self.id])}";
                        },1000)
                    }
                    }
                });
            });
        }
function add_address(id) {
            var index = layer.prompt({
            	formType: 2,
                title : '请填写收货地址：',
                area: ['300px', '100px']
            },function(val, index){
                $.ajax({
                    type:"get",
                    url:"{:url('index/add_address')}",
                    data:{id:id,val:val},
                    success:function(res) {
                        layer.msg(res.msg);
                        if (res.code == 1) {
                        setTimeout(function(){
                            location.href = "{:url('index/self', ['id'=>$self.id])}";
                        },1000)
                    }
                    }
                });
            });
        }

</script>