<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>{$product.title}立即兑换-二居商城</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
		<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
	</head>
	<body>
{include file="common/header" /}

	
	<!-- xiangqing -->
	<form action="post" method="">
	<div class="xiangqing">
		<div class="neirong w">
			<div class="xiaomi6 fl">{$product.title}</div>
			<div class="clear"></div>
		</div>	
	</div>
	
	<div class="jieshao mt20 w">
		<div class="left fl"><img src="__IMG__{$product.img}"></div>
		<div class="right fr">
			<div class="h3 ml20 mt20">{$product.title}</div>
			<div class="jianjie mr40 ml20 mt10">{$product.desc}</div>
			<div class="jiage ml20 mt10">{$product.price}积分</div>
			
			<div class="xqxq mt20 ml20">
				<div class="top1 mt10">
					<div class="right1 fr">{$product.price}积分</div>
					<div class="clear"></div>
				</div>
				<div class="bot mt20 ft20 ftbc">所需积分：{$product.price}</div>
			</div>
			<div class="xiadan ml20 mt20">
					<input class="jrgwc"  type="button" name="jrgwc" value="立即兑换" onclick="exchange()" />
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</form>
	{include file="common/footer" /}

	</body>
</html>

<script type="text/javascript">
function exchange() {
	if ({$inte === 'no' ? '1' : '0'}) {
		layer.msg("请先登录");
	} else if ({$product->type == '0' ? '1' : '0'}) {
			if ({$inte<$product.price ? '1' : '0'}) {
			layer.msg("积分不足");
			} else {
			layer.open({
		        type: 1,
		        closeBtn: false,
		        shift: 7,
		        shadeClose: true,
		        area:['600px', '400px'],
		        content: "<form class=\"layui-form\" action=\"\" style=\"margin-top:20px\" id=\"form1\">"+
		        	"<label class=\"layui-form-label\">收货人</label>"+
				    "<div class=\"layui-input-block\" style=\"width:200px;margin-top:20px\">"+
				    "<input type=\"text\" name=\"name\"  placeholder=\"请输入收货人姓名\" autocomplete=\"off\" class=\"layui-input\"> </div>"+
				    "<label class=\"layui-form-label\" style=\"margin-top:20px\">电话号码</label>"+
				    "<div class=\"layui-input-block\" style=\"width:200px;margin-top:20px\">"+
				    "<input type=\"text\" name=\"tel\" placeholder=\"请输入电话号码\" autocomplete=\"off\" class=\"layui-input\"> </div>"+
				    "<div class=\"layui-form-item layui-form-text\" style=\"width:500px;margin-top:20px\"><label class=\"layui-form-label\">"+"备注"+"</label><div class=\"layui-input-block\">"+
		  			"<textarea name=\"address\" placeholder=\"请输入内容\" class=\"layui-textarea\"></textarea></div></div>"+
		  			"<div class=\"layui-form-item\"><div class=\"layui-input-block\">"+
		  			"<input type=\"hidden\" value=\"{$product.id}\" name=\"id\">"+
		  			"<input type=\"button\" value=\"提交\" onclick=\"buy()\" class=\"layui-btn edit\">"+
		  			"<button type=\"reset\" class=\"layui-btn layui-btn-primary\">重置</button></div></div>"
				    +"</form>"	   
	        });
		}
	}
	else { 
		if ({$inte<$product.price ? '1' : '0'}) {
		layer.msg("积分不足");
		} else {
		layer.open({
	        type: 1,
	        closeBtn: false,
	        shift: 7,
	        shadeClose: true,
	        area:['600px', '400px'],
	        content: "<form class=\"layui-form\" action=\"\" style=\"margin-top:20px\" id=\"form1\">"+
	        	"<label class=\"layui-form-label\">收货人</label>"+
			    "<div class=\"layui-input-block\" style=\"width:200px;margin-top:20px\">"+
			    "<input type=\"text\" name=\"name\"  placeholder=\"请输入收货人姓名\" autocomplete=\"off\" class=\"layui-input\"> </div>"+
			    "<label class=\"layui-form-label\" style=\"margin-top:20px\">联系电话</label>"+
			    "<div class=\"layui-input-block\" style=\"width:200px;margin-top:20px\">"+
			    "<input type=\"text\" name=\"tel\" placeholder=\"请输入电话号码\" autocomplete=\"off\" class=\"layui-input\"> </div>"+
			    "<div class=\"layui-form-item layui-form-text\" style=\"width:500px;margin-top:20px\"><label class=\"layui-form-label\">"+"收货地址"+"</label><div class=\"layui-input-block\">"+
	  			"<textarea name=\"address\" placeholder=\"请输入内容\" class=\"layui-textarea\">{$address}</textarea></div></div>"+
	  			"<div class=\"layui-form-item\"><div class=\"layui-input-block\">"+
	  			"<input type=\"hidden\" value=\"{$product.id}\" name=\"id\">"+
	  			"<input type=\"button\" value=\"提交\" onclick=\"buy()\" class=\"layui-btn edit\">"+
	  			"<button type=\"reset\" class=\"layui-btn layui-btn-primary\">重置</button></div></div>"
			    +"</form>"	   
        });
	}
	}
}

function buy() {
        $.ajax({
            type:"post",
            url:"{:url('index/buy')}",
            data: $('#form1').serialize(),
            success:function(res) {
                layer.msg(res.msg);
                if (res.code == 1) {
                setTimeout(function(){
                    location.href = "{:url('index/order')}";
                },1000)
            }
            }
        });
}
</script>