{include file="common/header" /}

    <div class="layui-body">
    <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb" lay-separator=">"><a>商品</a><a href="{:url('shop.order/lst')}">订单管理</a></span>
            <div style="margin-top: 20px">
                {if condition="$add_code_status eq 1"}
                <a href="{:url('shop.order/add')}"><button class="layui-btn">增加</button></a>
                {/if}
            </div>
            <form class="layui-form" method="get" id="form2" style="margin-top: 20px">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名称</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="name" placeholder="" autocomplete="off" class="layui-input" value="{$name}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">支付订单号</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="pay_num" placeholder="" autocomplete="off" class="layui-input" value="{$pay_num}">
                    </div>
                </div>
                <button class="layui-btn" lay-submit lay-filter="formDemo">查找</button>
            </form>
        <table class="layui-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户昵称</th>
                <th>商品名称</th>
                <th>电话号码</th>
                <th>收货人</th>
                <th>订单金额</th>
                <th>支付订单号</th>
                <th>支付类型</th>
                <th>收货地址</th>
                <th>发货信息</th>
                <th>是否发货</th>
                <th>订单创建时间</th>
                <th>操作人</th>
                <th>操作</th>
            </tr> 
            </thead>
            <tbody>
                {foreach name="orders" item="order"}
                <tr>
                    <td>{$order.id}</td>
                    <td>{$order.user.name}</td>
                    <td>{$order.product.title}</td>
                    <td>{$order.tel}</td>
                    <td>{$order.name}</td>
                    <td>{$order.money}</td>
                    <td>{$order.pay_num}</td>
                    <td>
                        {if condition="$order.pay_type eq 1"}
                        支付宝
                        {elseif condition="$order.pay_typw eq 2"}
                        微信
                        {/if}
                    </td>
                    <td>{$order.address}</td>
                    <td>
                        {if condition="$order.information eq ''"}
                        暂无发货信息
                        {else/}
                        {$order.information}
                        {/if}
                    </td>
                    <td>
                        {if condition="$order.status eq 0"}
                        未发货
                        {elseif condition="$order.status eq 1"}
                        已发货
                        {elseif condition="$order.status eq 2"}
                        已收货
                        {/if}
                    </td>
                    <td>{$order.time|date="Y-m-d H:i:s",###}</td>
                    <td>
                        {if condition="$order.admin_id eq 0"}
                            无
                        {else/}
                        {$order.admin.name}
                        {/if}
                    </td>
                    <td>
                        {if condition="$edit_code_status eq 1"}
                        <a href="{:url('shop.order/edit', ['id'=>$order.id])}"><button class="layui-btn">编辑</button></a>
                        {/if}
                        {if condition="$del_code_status eq 1"}
                        <input type="button" class="layui-btn delete" style="margin-left: 20px" onclick="del({$order.id})" value="删除">
                        {/if}
                        {if condition="$fahuo_code_status eq 1"}
                        <input type="button" class="layui-btn layui-btn-radius layui-btn-warm" style="margin-left: 40px;margin-top: 10px" onclick="fahuo({$order.id})" value="{if condition="$order.status eq 0"}发货{else/}修改{/if}"></td>
                        {/if}
                </tr>
                {/foreach}
            </tbody>
        </table>
        {$orders->render()}
        </div>
    </div>

{include file="common/footer" /}
 
<script type="text/javascript">
        function del(id) {
            layer.confirm('确定要删除吗?', function(index) {
                $.ajax({
                    type:"get",
                    url:"{:url('shop.order/del')}",
                    data:{id:id},
                    success:function(res) {
                        layer.msg(res.msg);
                        if (res.code == 1) {
                        setTimeout(function(){
                            location.href = "{:url('shop.order/lst')}";
                        },1500)
                    }
                    }
                });
            });
        }

        function fahuo(id) {
            layer.prompt({
              formType: 2,
              title: '请输入发货信息',
              area: ['200px', '100px'] //自定义文本域宽高
            }, function(value, index, elem){
              $.ajax({
                    type:"get",
                    url:"{:url('shop.order/fahuo')}",
                    data:{id:id,information:value},
                    success:function(res) {
                        layer.msg(res.msg);
                        if (res.code == 1) {
                        setTimeout(function(){
                            location.href = "{:url('shop.order/lst')}";
                        },1500)
                    }
                    }
                });
            });
        }
</script>
