<!-- start header -->
		<header>
			<div class="top center">
				<div class="left fl">
					<ul>
						<li><a href="{:url('index/index')}">二居积分商城</a></li>
						<li>|</li>
						<li><a href="">二居</a></li>
						<li>|</li>
						<li><a href="">瞄罐</a></li>
						<li>|</li>
						<li><a href="">游戏</a></li>
						<li>|</li>
						<li><a href="">云服务</a></li>
						<li>|</li>
						<li><a href="">金融</a></li>
						<li>|</li>
						<li><a href="">问题反馈</a></li>
						<li>|</li>
						<li><a href="">Select Region</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="right fr">
					{if condition="$appUser neq ''"}
					<div class="gouwuche fr"><a href="{:url('index/self')}">个人中心</a></div>
					{/if}
					<div class="fr">
						<ul>
							{if condition="$appUser neq ''"}
							<li>欢迎</li>
							<li>|</li>
							<li><a href="{:url('index/self')}">{$appUser}</a></li>
							<li>|</li>
							<li><a href="{:url('sys/logout')}">退出登录</a></li>
							<li>|</li>
							{else/}
							<li><a href="{:url('sys/login')}" target="_blank">登录</a></li>
							<li>|</li>
							<li><a href="{:url('sys/register')}" target="_blank" >注册</a></li>
							<li>|</li>
							{/if}
							
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	<!--end header -->

	<!-- start banner_x -->
		<div class="banner_x center">
			<a href="{:url('index/index')}"><div class="logo fl"></div></a>
			<a href=""><div class="ad_top fl"></div></a>
			<div class="nav fl">
				<ul>
					{foreach name="header_cates" item="cate"}
					<li><a href="{:url('index/liebiao', ['id'=>$cate.id])}">{$cate.title}</a></li>
					{/foreach}
					<li><a href="">游戏</a></li>
					<li><a href="{:url('index/integral')}">签到领积分</a></li>
				</ul>
			</div>
		</div>
<!-- end banner_x -->