{include file="common/header" /}
<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
      <span class="layui-breadcrumb"lay-separator=">"><a>用户</a><a href="{:url('user/lst')}">用户管理</a><a href="#">新增</a></span>
<form class="layui-form" method="post" id="form1" style="margin-top: 20px">
  <div class="layui-form-item">
    <label class="layui-form-label">用户名称</label>
    <div class="layui-input-block">
      <input type="text" name="name" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">用户密码</label>
    <div class="layui-input-block">
      <input type="password" name="password" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">用户佣金</label>
    <div class="layui-input-block">
      <input type="text" name="money" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">电话号码</label>
    <div class="layui-input-block">
      <input type="text" name="tel" required lay-verify="required" placeholder="请输入电话号码" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <input type="button" value="提交" onclick="add()" class="layui-btn edit">
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
 
    </div>
</div>
{include file="common/footer" /}

<script src="__PUBLIC__/layui/layui.js"></script>

<script type="text/javascript">
        function add() {
            layer.confirm('确定要增加吗?', function(index) {
                $.ajax({
                    type:"post",
                    url:"{:url('user/add')}",
                    data: $('#form1').serialize(),
                    success:function(res) {
                        layer.msg(res.msg);
                        if (res.code == 1) {
                        setTimeout(function(){
                            location.href = "{:url('user/lst')}";
                        },1500)
                    }
                    }
                });
            });
        }
</script>