{include file="common/header" /}

    <div class="layui-body">
    <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb"lay-separator=">"><a>用户</a><a href="#">用户管理</a></span>
            <div style="margin-top: 20px">
            <a href="{:url('user/add')}"><button class="layui-btn">增加</button></a>
            </div>
        <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>昵称</th>
                    <th>电话号码</th>
                    <th>操作</th>
                </tr> 
                </thead>
                <tbody>
                {foreach name="users" item="user"}
                <tr>
                    <td>{$user.id}</td>
                    <td>{$user.name}</td>
                    <td>{$user.tel}</td>
                    <td><a href="{:url('user/edit', ['id'=>$user.id])}"><button class="layui-btn">编辑</button></a><input type="button" class="layui-btn delete" style="margin-left: 20px" onclick="del({$user.id})" value="删除"></td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        {$users->render()}
        </div>
    </div>

{include file="common/footer" /}
 
<script type="text/javascript">
        function del(id) {
            layer.confirm('确定要删除吗?', function(index) {
                $.ajax({
                    type:"get",
                    url:"{:url('user/del')}",
                    data:{id:id},
                    success:function(res) {
                        layer.msg(res.msg);
                        if (res.code == 1) {
                        setTimeout(function(){
                            location.href = "{:url('user/lst')}";
                        },1500)
                    }
                    }
                });
            });
        }
</script>

