{include file="common/header" /}

    <div class="layui-body">
    <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb" lay-separator=">"><a>任务</a><a href="">任务分类管理</a></span>
            <div style="margin-top: 20px">
            <a href="{:url('task.cate/add')}"><button class="layui-btn">增加</button></a>
            </div>
            <div class="layui-form">
                <table class="layui-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>操作</th>
                        </tr> 
                        </thead>
                        <tbody>
                        {foreach name="cates" item="cate"}
                        <tr>
                            <td>{$cate.id}</td>
                            <td>{$cate.title}</td>
                            <td><a href="{:url('task.cate/edit', ['id'=>$cate.id])}"><button class="layui-btn">编辑</button></a><input type="button" class="layui-btn delete" style="margin-left: 20px" onclick="del({$cate.id})" value="删除"></td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{include file="common/footer" /}
 

<script type="text/javascript">
        function del(id) {
            layer.confirm('确定要删除吗?', function(index) {
                $.ajax({
                    type:"get",
                    url:"{:url('task.cate/del')}",
                    data:{id:id},
                    traditional: true,
                    success:function(res) {
                        layer.msg(res.msg);
                        if (res.code == 1) {
                        setTimeout(function(){
                            location.href = "{:url('task.cate/lst')}";
                        },1500)
                    }
                    }
                });
            });
        }
</script>

